<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.midas.secretplace">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.act.ActIntro"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.act.ActMain"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActLogin"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActPlaceDetail"
            android:parentActivityName=".ui.act.ActMain"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActGroupPlaceDetail"
            android:parentActivityName=".ui.act.ActMain"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActGroupDetail"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActMapDetail"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActCouple"
            android:parentActivityName=".ui.act.ActMain"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActMyInformation"
            android:parentActivityName=".ui.act.ActMain"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActRequestForMe"
            android:parentActivityName=".ui.act.ActCouple"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.act.ActChat"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.MyJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.midas.secretplace.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>